<div class="row pricing-tables">
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="pricing-table table-left wow fadeInLeft" data-wow-duration="1000ms" data-wow-delay="0.3s">
            <div class="icon">
                <i class="lnr lnr-rocket"></i>
            </div>
            <div class="pricing-details">
                <h2>Your Reservation</h2>
                <span></span>
                <ul>
                    <li>C</li>
                    <li>N</li>
                    <li>S</li>
                    <li>V</li>
                </ul>
            </div>
        </div>
    </div>